@import 'config';

h1{
  padding: 1em 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 3em;
  font-family: $main-font;
  font-weight:bolder;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width:  1200px;
  font-size: 1.5em;
  text-align: center;
  margin: 4em auto;
  border: 5px solid white;
  
  div{
    padding: 2em 0;
    display: flex;
    justify-content:center;
    align-items:center;

    .quote{
      font-family:$main-font;
      font-weight: lighter;
    }

    .author{
      font-family:$main-font;
      font-weight: lighter;
    }
  }
}

button{
  @include btn;
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
}
i{
  margin: 0.1em;
}